# --- Data / big files ---
data/
data/raw/news/*.csv
data/processed/news/*.csv
*.csv
*.parquet
*.zip

# --- Python ---
__pycache__/
*.pyc
.venv/
.env

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS ---
.DS_Store
Thumbs.db

# --- System / VSCode / OneDrive noise ---
.bash_history
*.xml
*.log
*.tmp
*.lock
*.cache
